
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<table style="width:50%">
    <tr>
        <th>Examination</th>
        <th>Institute</th>
        <th>Result</th>
    </tr>
    <tr>
        <td>SSC</td>
        <td>Rajshahi Cantonment Board High School</td>
        <td>GPA 5</td>
    </tr>
    <tr>
        <td>HSC</td>
        <td>New Government Degree College</td>
        <td>GPA 5</td>
    </tr>
</table>