
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>


<table style="width:50%">
    <tr>
        <th>Course</th>
        <th>Project Name</th>
    </tr>
    <tr>
        <td>Database</td>
        <td>Coffee Shop Management System</td>
    </tr>
    <tr>
        <td>OOAD</td>
        <td>E-Commerce site Management System</td>
    </tr>
    <tr>
        <td>Java</td>
        <td>Scientific Calculator</td>
    </tr>
    <tr>
        <td>C#</td>
        <td>Housing Management System for AIUB students</td>
    </tr>
    <tr>
        <td>Software Engineering</td>
        <td>Housing Management System for AIUB students</td>
    </tr>
    <tr>
        <td>Web Technology</td>
        <td>Housing Management System for AIUB students</td>
    </tr>
</table>